span{
 font-size: 34px;
}   
.dhaka-shangor{
    background-color: #fceae8;
}
.panda-button{
    background-image: linear-gradient(to bottom, #ff3182 0%, #FF136F 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}
.categories img{
width:100px ;
}